section.entry {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.entry-inner {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.entry-title {
  color: #293264;
  font-size: 32px;
}

.darkmode .entry-title {
  color: #778eff;
}

.entry-description {
  font-weight: 300;
  font-size: 17px;
  text-align: center;
}

.start-btn {
  padding: 10px 40px;
  background-color: #4d5b9e;
  font-size: 16px;
  transition: all 0.1s linear;
}

.start-btn:hover {
  opacity: 0.9;
}

.entry-total-questions {
  font-weight: 500;
}

.entry-total-questions span {
  color: #4d5b9e;
}

.entry-footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.my-results-btn {
  padding: 10px 30px;
  font-size: 16px;
  background: none;
  color: #000;
  background-color: rgb(220, 220, 220);
  transition: all .2s linear;
}

.my-results-btn:hover {
  text-decoration: underline;
}

.darkmode .my-results-btn {
  color: #fff;
  background-color: rgb(47, 47, 47);
}

.darkmode .entry-total-questions span {
  color: #778eff;
}

.author-container {
  min-width: 250px;
  text-align: center;
  font-weight: 500;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.author {
  font-size: 18px;
  cursor: pointer;
  color: #4d5b9e;
  font-weight: 400;
  text-decoration: none;
}

.darkmode .author {
  color: #778eff;
}

.author:hover {
  text-decoration: underline;
  font-weight: 500;
}

.theme-btn-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.error-container {
  display: block;
  text-align: center;
  color: rgb(219, 32, 32);
}